.container {
    position: relative;
    text-align: center;
    color: rgb(238, 234, 23);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bordertext{
    border-style: dotted;
}

#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  
}  